# Node modules
node_modules/
npm-debug.log
yarn-error.log

# Build directories
build/
dist/
public/

# Local development environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Log files
logs
*.log
*.log.*

# Operating system files
.DS_Store
Thumbs.db

# IDE/Editor specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Miscellaneous
*.swp
*.swo
*.bak
*.tmp

# Coverage directory used by testing tools
coverage/

# Linting
.eslintcache

# Next.js build output
.next/
out/

# Storybook
out/
.storybook/
storybook-static/

# Parcel cache
.cache/

# SvelteKit build output
.svelte-kit/

# Vite build output
.vite/

# Dependencies
/.pnp
.pnp.js

# Gatsby files
.cache/
public/

# Other
.pnp.*
